<div class="modal-container">
  <h2 class="modal-title">MEJORA TU PLAN</h2>
  <div class="modal-content">
    <div class="background-image"></div>

    <div class="plan-info">
      <div class="plan-price">
        <h3>Pro</h3>
        <p class="price"><span>S/ </span> 3 <span>PEN/mes</span></p>
      </div>
      <p>Aumenta tus probabilidades con un acceso extendido</p>
    </div>

    <ul class="benefits">
      <li>Predicciones más precisas y detalladas.</li>
      <li>Acceso anticipado a partidos menos populares.</li>
      <li>Estadísticas avanzadas y análisis de equipos.</li>
      <li>Soporte prioritario.</li>
    </ul>

    <button mat-raised-button color="primary" class="subscribe-button">
      SUSCRIBIRSE
    </button>
  </div>
</div>
