<app-navbar></app-navbar>
<div class="about-container">
  <img src="../../../../../../assets/fPaolo.png" alt="Imagen de fondo" class="background-image" />
  <div class="content">
    <h2 class="title">Nosotros</h2>
    <p class="description">
      Somos un equipo apasionado por el fútbol peruano y la tecnología. Nuestro sistema de predicciones está
      diseñado específicamente para analizar los partidos futuros de la selección peruana, utilizando un
      modelo predictivo basado en machine learning. Gracias a una extensa base de datos, que incluye todos
      los partidos de la selección peruana contra diversas selecciones a lo largo de la historia, logramos
      ofrecer predicciones con alta precisión.
    </p>
    <p class="team">
      Este proyecto fue creado por un equipo de cinco expertos: Gabriel Huamán, Fredy Salinas, Matías Lázaro
      y Judá Carrillo, con el objetivo de brindar información clave para anticipar resultados y mejorar el
      análisis del fútbol en Perú.
    </p>

  </div>
</div>
<app-footer></app-footer>
