<div class="dropdown-container">
  <div class="arrow" (click)="toggleModal()">▼</div>
  <div class="modal-content" [class.show]="isModalVisible">
    <div class="option">
      <h3>GuilleTotal Pro</h3>
      <div class="content-pro">
        <p>Modelo de predicciones más preciso con gráficos</p>
        <button>Suscribirse</button>
      </div>
    </div>
    <div class="option">
      <h3>GuilleTotal Free</h3>
      <p>Modelo de predicciones básico de uso libre para usuarios</p>
    </div>
  </div>
</div>
