@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #2C2C2C;
  height: 81vh;
  margin-left: 50px;
  margin-right: 50px;

  .text-content {
    color: #ffffff;
    max-width: 50%;

    h1 {
      font-size: 6vw; /* Tamaño de fuente en función del ancho de la ventana */
      font-weight: bold;
      font-family: "Anton", sans-serif;
      margin-bottom: 2rem;
      letter-spacing: 20px; /* Ajuste de espaciado en función del ancho */
    }

    p {
      font-size:23px;
      font-family: "Inter", sans-serif;
      line-height: 1.5;
      letter-spacing: 3px;
      margin-bottom: 2rem;
    }

    .subscribe-button {
      background-image: url('../../../../../../assets/Navbar.png');
      color: #ffffff;
      padding: 0.75rem 2rem;
      font-size: 2rem;
      font-weight: bold;
      border: none;
      opacity: 0.8;
      letter-spacing: 3px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #218838;
      }
    }
  }

  .carousel-content {
    width: 630px;
    height: 600px;

    .carousel {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .carousel-track {
        display: flex;
        width: 100%;
        height: 100%;
        animation: slide 12s infinite;

        .carousel-slide {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
          transition: transform 1s ease-in-out;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// Media queries para hacer la página responsive
@media (max-width: 1024px) {
  .home-container {
    flex-direction: column;
    align-items: flex-start;

    .text-content {
      max-width: 100%;

      h1 {
        font-size: 4rem;
        letter-spacing: 10px;
      }
      p {
        font-size: 1.4rem;
      }

      .subscribe-button {
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem;
      }
    }

    .carousel-content {
      width: 100%;
      height: 100%;

      .carousel {
        height: 100%;
        scale: 0.7;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 1rem;
    height: 60vh;

    .text-content {
      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
      }

      .subscribe-button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
      }
    }

    .carousel-content {
      height: 100%;
    }
  }
}

@media (max-width: 480px) {
  .home-container {
    .text-content {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }

      .subscribe-button {
        font-size: 1rem;
        padding: 0.5rem;
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
