<app-navbar></app-navbar>
<div class="home-container">
  <div class="text-content">
    <h1>GUILLE TOTAL</h1>
    <p>Predicciones exclusivas para partidos peruanos... <br /> ¡Obtén la mejor información y adelántate al juego!</p>
    <button class="subscribe-button" (click)="openSubscriptionModal()">Suscríbete YA</button>
  </div>

  <div class="carousel-content">
    <div class="carousel">
      <div class="carousel-track">
        <div class="carousel-slide"><img src="../../../../../../assets/image1.png" alt="Imagen 1"></div>
        <div class="carousel-slide"><img src="../../../../../../assets/image2.jpg" alt="Imagen 2"></div>
        <div class="carousel-slide"><img src="../../../../../../assets/image3.jpg" alt="Imagen 3"></div>
      </div>
    </div>

  </div>
</div>
